In [1]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\guigo\anaconda3\lib\site-packages (0.4.1)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\guigo\anaconda3\lib\site-packages (from ipython-sql) (1.4.39)
Requirement already satisfied: sqlparse in c:\users\guigo\anaconda3\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: ipython>=1.0 in c:\users\guigo\anaconda3\lib\site-packages (from ipython-sql) (7.31.1)
Requirement already satisfied: six in c:\users\guigo\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: prettytable<1 in c:\users\guigo\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\guigo\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\guigo\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: decorator in c:\users\guigo\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\guigo\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\guigo\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: pickleshare in c:\users\guigo\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: pygments in c:\users\guigo\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: colorama in c:\users\guigo\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.5)
Requirement already satisfied: matplotlib-inline in c:\users\guigo\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: backcall in c:\users\guigo\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\guigo\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (63.4.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\guigo\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\guigo\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\guigo\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install mysqlclient

Requirement already satisfied: mysqlclient in c:\users\guigo\anaconda3\lib\site-packages (2.1.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import MySQLdb

In [4]:
%reload_ext sql

In [13]:
%sql mysql://guigois:oleoleole@localhost/apartments

In [14]:
%sql SELECT * FROM apartments_zurich_feb LIMIT 5

 * mysql://guigois:***@localhost/apartments
5 rows affected.

[(1, 3002472265, 5190, 102, 4.5, 'Spitalgasse 2, 8001 Zurich', 'https://www.homegate.ch/rent/3002472265', None),
 (2, 3002552074, 5480, 112, 2.5, 'Spitalgasse 2, 8001 Zurich', 'https://www.homegate.ch/rent/3002552074', None),
 (3, 3002567931, 3910, 75, 3.0, 'Engelstrasse 62, 8004 Zurich', 'https://www.homegate.ch/rent/3002567931', None),
 (4, 3002184266, 3950, 70, 2.5, 'Ankerstrasse, 8004 Zurich', 'https://www.homegate.ch/rent/3002184266', None),
 (5, 3002336810, 1450, 26, 1.0, 'Langstrasse 213, 8005 Zurich', 'https://www.homegate.ch/rent/3002336810', None)]

In [15]:
%%sql
SELECT ROUND(AVG(price),2) AS "Average Apartments Price"
FROM apartments_zurich_february

 * mysql://guigois:***@localhost/apartments
1 rows affected.

[(Decimal('3149.43'),)]

In [16]:
%%sql
UPDATE apartments_zurich_feb
SET location = SUBSTRING_INDEX(street, ',', -1), street = SUBSTRING_INDEX(street, ',', 1)

 * mysql://guigois:***@localhost/apartments
388 rows affected.

[]

In [17]:
%%sql 
UPDATE apartments_zurich_feb
SET location = REPLACE(location, 'ZA 1/4 ', 'Zu')

 * mysql://guigois:***@localhost/apartments
388 rows affected.

[]

In [18]:
%%sql
UPDATE apartments_zurich_feb
SET location = LTRIM(RTRIM(location))

 * mysql://guigois:***@localhost/apartments
388 rows affected.

[]

In [19]:
%sql SELECT * FROM apartments_zurich_feb LIMIT 5

 * mysql://guigois:***@localhost/apartments
5 rows affected.

[(1, 3002472265, 5190, 102, 4.5, 'Spitalgasse 2', 'https://www.homegate.ch/rent/3002472265', '8001 Zurich'),
 (2, 3002552074, 5480, 112, 2.5, 'Spitalgasse 2', 'https://www.homegate.ch/rent/3002552074', '8001 Zurich'),
 (3, 3002567931, 3910, 75, 3.0, 'Engelstrasse 62', 'https://www.homegate.ch/rent/3002567931', '8004 Zurich'),
 (4, 3002184266, 3950, 70, 2.5, 'Ankerstrasse', 'https://www.homegate.ch/rent/3002184266', '8004 Zurich'),
 (5, 3002336810, 1450, 26, 1.0, 'Langstrasse 213', 'https://www.homegate.ch/rent/3002336810', '8005 Zurich')]

In [20]:
%%sql
SELECT location, ROUND(AVG(Price), 1) AS "Average Apartments Price per Zone", COUNT(location) AS "Number of houses in zone"
FROM apartments_zurich_feb
GROUP BY location
ORDER BY ROUND(AVG(price), 1) DESC

 * mysql://guigois:***@localhost/apartments
24 rows affected.

[('8001 Zurich', Decimal('5389.0'), 15),
 ('8044 Zurich', Decimal('5202.4'), 10),
 ('8008 Zurich', Decimal('4454.3'), 23),
 ('8005 Zurich', Decimal('3959.1'), 17),
 ('8002 Zurich', Decimal('3885.8'), 10),
 ('8032 Zurich', Decimal('3764.2'), 28),
 ('8038 Zurich', Decimal('3518.9'), 10),
 ('8037 Zurich', Decimal('3244.7'), 10),
 ('8004 Zurich', Decimal('3004.2'), 33),
 ('8055 Zurich', Decimal('2983.2'), 6),
 ('8003 Zurich', Decimal('2962.7'), 33),
 ('8050 Zurich', Decimal('2840.4'), 50),
 ('8006 Zurich', Decimal('2750.2'), 25),
 ('8041 Zurich', Decimal('2678.3'), 6),
 ('8053 Zurich', Decimal('2677.1'), 13),
 ('8049 Zurich', Decimal('2621.7'), 12),
 ('8048 Zurich', Decimal('2479.7'), 18),
 ('8047 Zurich', Decimal('2408.2'), 9),
 ('8057 Zurich', Decimal('2398.8'), 19),
 ('8046 Zurich', Decimal('2093.3'), 9),
 ('8052 Zurich', Decimal('1948.0'), 21),
 ('8051 Zurich', Decimal('1881.0'), 4),
 ('8045 Zurich', Decimal('1828.0'), 5),
 ('8064 Zurich', Decimal('1770.0'), 2)]

In [21]:
%%sql
SELECT rooms, COUNT(rooms) AS "Number of houses with # rooms", ROUND(AVG(price), 1) AS "Average Apartments Price per # rooms"
FROM apartments_zurich_feb
GROUP BY rooms
ORDER BY rooms DESC

 * mysql://guigois:***@localhost/apartments
12 rows affected.

[(7.0, 1, Decimal('8150.0')),
 (6.5, 3, Decimal('9416.7')),
 (5.5, 7, Decimal('5661.7')),
 (5.0, 5, Decimal('5014.0')),
 (4.5, 31, Decimal('4140.5')),
 (4.0, 15, Decimal('3961.5')),
 (3.5, 73, Decimal('4173.8')),
 (3.0, 35, Decimal('2824.9')),
 (2.5, 91, Decimal('2945.7')),
 (2.0, 33, Decimal('2306.2')),
 (1.5, 36, Decimal('2338.6')),
 (1.0, 58, Decimal('1611.3'))]

In [22]:
%%sql 
SELECT ROUND(AVG(price), 1) AS "Avg Aparts Price per Area", COUNT(area) AS "# houses between (0 and 25) m2 of area" 
FROM apartments_zurich_feb 
WHERE area < 25

 * mysql://guigois:***@localhost/apartments
1 rows affected.

[(Decimal('1602.1'), 42)]

In [23]:
%%sql 
SELECT ROUND(AVG(price), 1) AS "Avg Aparts Price per Area", COUNT(area) AS "# houses between (25 and 45) m2 of area" 
FROM apartments_zurich_feb 
WHERE area BETWEEN 25 and 45

 * mysql://guigois:***@localhost/apartments
1 rows affected.

[(Decimal('2289.1'), 69)]

In [24]:
%%sql 
SELECT ROUND(AVG(price), 1) AS "Avg Aparts Price per Area", COUNT(area) AS "# houses between (45 and 65) m2 of area" 
FROM apartments_zurich_feb 
WHERE area BETWEEN 45 and 65

 * mysql://guigois:***@localhost/apartments
1 rows affected.

[(Decimal('2527.6'), 92)]

In [25]:
%%sql 
SELECT ROUND(AVG(price), 1) AS "Avg Aparts Price per Area", COUNT(area) AS "# houses between (65 and 85) m2 of area" 
FROM apartments_zurich_feb 
WHERE area BETWEEN 65 and 85

 * mysql://guigois:***@localhost/apartments
1 rows affected.

[(Decimal('2875.5'), 80)]

In [26]:
%%sql 
SELECT ROUND(AVG(price), 1) AS "Avg Aparts Price per Area", COUNT(area) AS "# houses between (85 and 115) m2 of area" 
FROM apartments_zurich_feb 
WHERE area BETWEEN 85 and 115

 * mysql://guigois:***@localhost/apartments
1 rows affected.

[(Decimal('3778.8'), 76)]

In [27]:
%%sql 
SELECT ROUND(AVG(price), 1) AS "Avg Aparts Price per Area", COUNT(area) AS "# houses between (115 and 150) m2 of area" 
FROM apartments_zurich_feb 
WHERE area BETWEEN 115 and 150

 * mysql://guigois:***@localhost/apartments
1 rows affected.

[(Decimal('5076.0'), 34)]

In [28]:
%%sql 
SELECT ROUND(AVG(price), 1) AS "Avg Aparts Price per Area", COUNT(area) AS "# houses higher than 150 m2 of area" 
FROM apartments_zurich_feb 
WHERE area > 150

 * mysql://guigois:***@localhost/apartments
1 rows affected.

[(Decimal('7509.7'), 18)]